<template>
  <div class="home">
    <h2>Home</h2>
    <button @click="logout()">Logout</button>
    <div>
      {{film}}
    </div>
  </div>
</template>

<script>
import checkLogin from '@/mixins/checkLogin.js'
import axios from 'axios'

export default {
  name: 'home',
  mixins: [checkLogin],
  data () {
    return {
      film: null
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('login/logout')
    }
  },
  mounted () {
    // eslint-disable-next-line
    var cookieUser = document.cookie.replace(/(?:(?:^|.*;\s*)dataUser\s*\=\s*([^;]*).*$)|^.*$/, '$1')      
    axios.get('http://10.30.30.126:8000/api/film', {
      headers: { 'Authorization': `Bearer ${cookieUser}` }
    }).then(response => {
      this.film = response.data
    })
  }
}
</script>
