<template>
    <div>
        <h2>Login</h2>
        <div class="form-group">
            <input type="email" placeholder="masukan email" class="form-control" v-model="email" v-on:keyup="clear()">
            <div v-if="errors">
                <div v-for="(item, index) in errors.email" :key="index">{{item}}</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" placeholder="masukan password" class="form-control" v-model="password" v-on:keyup="clear()">
            <div v-if="errors">{{errors.password[0]}}</div>
        </div>
        <div class="form-group">
            <button @click="login()">Login</button>
        </div>
        <div v-if="wrongPass">
            {{wrongPass}}
        </div>
    </div>
</template>
<script>
import checkLogin from '@/mixins/checkLogin.js'

export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    login () {
      const payload = {
        email: this.email,
        password: this.password
      }
      this.$store.dispatch('login/login', payload)
    },
    // untuk clear pesan error, jika inputan di tulis lagi
    clear () {
      this.$store.state.login.data.errors = null
      this.$store.state.login.data.wrongPass = null
    }
  },
  computed: {
    errors () {
      return this.$store.state.login.data.errors
    },
    wrongPass () {
      return this.$store.state.login.data.wrongPass
    }
  },
  mixins: [checkLogin]
}
</script>
